body {
    min-height: 100vh;

}

/* .navbar {
    background-color: ;
} */

#mainpage {
    color: white !important;
    font-size: 2em;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#mainpagefooter {
    color: white !important;
    position: absolute;
    bottom: 0;
    width: 100vh;

}
